body {
  background-color: black;
  color: white;
}

header {
  display: inline-block;
  text-align: center;
}

div {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}

main {
  text-align: center;
}



